<!-- Пример: три одинаковые колонки
Этот пример показывает, как сверстать три равных по ширине колонки,
которые будут отображаться горизонтально на планшетах и более крупных экранах.
На экране мобильного такая верстка будет растянута и каждая из ячеек займёт всю ширину экрана:-->

<div class="row">
    <div class="col-sm-4">.col-sm-4</div>
    <div class="col-sm-4">.col-sm-4</div>
    <div class="col-sm-4">.col-sm-4</div>
</div>

<!-- Пример: две колонки разной ширины
В этом примере страница делится на две колонки разной ширины,
которые будут отображаться горизонтально на любых устройствах, кроме мобильных телефонов:-->

<div class="row">
    <div class="col-sm-4">.col-sm-4</div>
    <div class="col-sm-8">.col-sm-8</div>
</div>

<!--Пример: две колонки с двумя вложенными колонками, большая разделена еще на две
В этом случае страница будет разделена на две разные колонки на планшетах и больших экранах,
а большая колонка в свою очередь будет разделена на две равные колонки.
На экранах мобильных телефонов эти колонки будут растягиваться на всю ширину экрана.-->

<div class="row">
    <div class="col-sm-8">
        .col-sm-8
        <div class="row">
            <div class="col-sm-6">.col-sm-6</div>
            <div class="col-sm-6">.col-sm-6</div>
        </div>
    </div>
    <div class="col-sm-4">.col-sm-4</div>
</div>


<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5080.039136006351!2d30.4903354!3d50.4593603!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1526206535805"
        width="400" height="350" frameborder="0" style="border: 0" allowfullscreen></iframe>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?154"></script>

